# Ignorar carpetas de compilación (CMake o Qt Creator)
build/
cmake-build-*/

# Archivos de configuración de Qt Creator
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
CMakeLists.txt.user
*.autosave

# Archivos generados por Qt
*.qmlc
*.jsc
.moc/
.qrc/
.ui/
*.qmake.stash

# Archivos intermedios del compilador
*.o
*.obj
*.lo
*.la
*.a
*.lib
*.dll
*.so
*.dylib

# Ejecutables
*.exe
*.out
*.app

# Archivos de sistema
*.log
*.DS_Store
Thumbs.db